.chat-body {
  background-color: #abc1d1;
}
.chat-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-header {
  width: 90%;
}

.chat-header__column {
  display: flex;
  justify-content: center;
  width: 33%;
}

.chat-header__column:first-child {
  justify-content: flex-start;
}

.chat-header__column:last-child {
  justify-content: flex-end;
}

.floating-date {
  display: block;
  width: fit-content;
  margin-top: 20px;
  font-size: 12px;
  color: white;
  padding: 10px 8px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.from-message {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.from-message__avatar {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.from-message__text {
  padding-top: 3px;
  margin-left: 5px;
}

.from-message__who {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.from-message__message {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

.from-message__content {
  font-size: 20px;
  margin-right: 10px;
  background-color: white;
  padding: 10px 15px;
  border-radius: 0 15px 15px 15px;
}

.from-message__time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.to-message {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.to-message__time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.to-message__content {
  font-size: 20px;
  margin-left: 10px;
  background-color: var(--yellow);
  padding: 10px 15px;
  border-radius: 15px 0 15px 15px;
}

.message {
  margin-bottom: 10px;
}

.reply {
  width: 60px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 10px 10px;
  background-color: white;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}

.reply__column:first-child {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply__column:last-child {
  width: 85%;
  height: 90%;
  border-radius: 15px;
  padding: 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}

.reply__column:last-child span {
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  background-color: var(--yellow);
  justify-content: center;
  align-items: center;
  margin-right: -7px;
}

.reply__input {
  width: 100%;
  border: none;
}

.reply__column i {
  padding: 0 5px;
}
