.badge{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6229;
    font-size: 15px;
    font-weight: 600;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}