.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav{
    background-color: #f9f9fa;
    padding: 20px 40px;
    box-sizing: border-box;
    /* 이게 뭐냐면 width가 정해져 있는데 padding도 더해지니깐 프로그램은 박스 크기를 padding 만큼 늘리게 된다.
    이런 동작을 원치 않는 경우에는 위와 같이 한다.*/
    border-top: 1px solid rgba(0,0,0,0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav__link{
    color: #3F4247;
    position: relative;
}

.nav__notification--message{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.nav__notification--etc{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    background-color: #FF6229;
    font-size: 10px;
    font-weight: 600;
    color: white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 18px;
    bottom: 18px;
}