.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-top: 25px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons span:last-child {
  position: relative;
}

.screen-header__icons .nav__notification {
  position: absolute;
  left: 0px;
}
