.main-screen{
    margin: 0px var(--horizontal-space);
}

.user-component{
    display: flex;
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__avatar{
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin-right: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle{
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl{
    width: 80x;
    height: 80px;
    border-radius: 30px;
}

.friends-screen__channel-header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--sm{
    width: 60px;
    height: 60px;
}

.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-component__column:last-child span{
    background-color: tomato;
    margin-top: 8px;
    color: white;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}